---
import BaseLayout from "../../../layouts/BaseLayout.astro";
---

<BaseLayout 
title="Семантическое ядро: сбор, кластеризация, съём позиций"
  description="Как собирать и кластеризовать поисковые запросы для сайта"
>
  <h1>Семантическое ядро</h1>
<p>Это упорядоченный набор поисковых запросов, которые характеризуют вид деятельности, товары или услуги, предлагаемые сайтом. Применяется для расчёта показателей видимости и процента ТОП10, прогнозирования объёма органического трафика, формирование структуры страниц сайта, написания текстов и множества других задач.</p>
<p>Сперва стоит поговорить о самих запросах. У них существует собственный числовой показатель — <strong>частота</strong> (или частотность). Это то количество раз, которое пользователи вводят определенный запрос в поисковую систему за определенный период времени, обычно за месяц. Как правило, запросы дополнительно группирую по частоте на: <strong>высокочастотные (ВЧ), среднечастотные (СЧ) и низкочастотные (НЧ)</strong>. Частотность зависит от тематики, поэтому абсолютные цифры могут отличаться. Чем выше частота у запроса, тем сложнее конкурировать по нему в выдаче. Таким образом, запросы ещё делят и по конкурентности: высококонкурентные, среднеконкурентные и низкоконкурентные.<br /> Частотность запросов может меняться, и если она в течение года меняется регулярно и прогнозируемо, то в таком случае говорят о <strong>сезонности запросов</strong>.</p>
<p>Частотность запросов позволяет определять сервис <a href="https://wordstat.yandex.ru/" target="_blank" rel="nofollow">Яндекс Wordstat</a>. Поскольку он, как и все сервисы Яндекса, ориентирован на страны с русскоговорящим населением, то применение его для работы с зарубежными проектами практически невозможно. Прямых аналогов ему не существует, но стоит отметить самые популярные: <strong>Google Keyword Planner</strong>, и <strong>Ahrefs Keywords Explorer</strong>.<br /> Ещё есть <a href="https://trends.google.com/trends/" target="_blank" rel="nofollow">Google Trends</a>. Позволяет оценить популярность отдельного запроса с учетом локации и временного периода (аналогичный функционал имеется внутри <strong>Яндекс Wordstat</strong>).</p>
<p>У запросов есть <strong>интент</strong>, проще говоря это цель или намерение пользователя, с которым он обращается к поисковой системе. По интенту запросы делят на типы:</p>
<ul>
<li>коммерческие;</li>
<li>информационные;</li>
<li>навигационные или транзакционные;</li>
<li>мультимедийные.<br /> Первые отражают потребность пользователя найти и купить товар или заказать услугу. <strong>Информационные запросы</strong> нацелены на поиск сведений. <strong>Навигационные (или транзакционные) запросы</strong> позволяют найти конкретные модели товаров, компании, сайты, места и события. <strong>Мультимедийные запросы</strong> представляет собой поиск медиаматериалов: фотографий, аудио, видео. Часто мультимедийные и информационные запросы пересекаются.</li>
</ul>
<p>Т.к. поисковая выдача учитывает местоположение пользователя, то и запросы могут быть:</p>
<ul>
<li>геозависимые;</li>
<li>геонезависимые.</li>
</ul>
<p>Выдача по первым из них отличается по регионам. На результаты поиска по геонезависимым запросам местоположение пользователя не влияет.</p>
<p>Если запросы содержат название бренда, то они могут быть:</p>
<ul>
<li>брендовые;</li>
<li>витальные.<br /> Зачастую SEO-специалисты отождествляют эти два понятия. Под брендовыми запросами подразумевают те, которые относятся непосредственно к продвигаемому сайту (т.е. витальные), а не к списку брендов, которые он может предложить в своем ассортименте. Запросы с упоминанием конкретных брендов или торговых марок в этом случае являются обычными запросами.</li>
</ul>
<p>Каждый, отдельный взятый, набор запросов в семантическом ядре называют <strong>кластером</strong>. Группировку и упорядочивание запросов называют <strong>кластеризацией</strong>. Кластеризация упрощает работу с семантическим ядром. Основных методов кластеризации два:</p>
<ul>
<li>по интенту (логический);</li>
<li>по выдаче (автоматический).<br /> Первый трудозатратнее, и он чаще применяется для семантических ядер небольшого объёма. Второй, как правило, применяют для больших ядер с целью экономии времени. Но некоторые стратегии продвижения сайта основываются именно на методологии кластеризации по поисковой выдаче.</li>
</ul>
<p>Суть первого метода заключается в группировке запросов исходя из потребности пользователя, или проблемы которую он хочет решить через свой запрос.<br /> Можно привести аналогию с папками и файлами на компьютере: в папке "Фотографии" хранятся фото, в папке "Документы" лежат таблицы или документы, и т.д.<br /> Готовое ядро, созданное по такому методу, можно представить в виде дерева.</p>
<p>Кластеризацию <strong>по выдаче (или по ТОП'у)</strong> обычно проводят автоматически — с помощью сервисов, которые анализируют выдачу поисковых систем. Если по списку запросов отображаются одни и те же страницы, значит, эти запросы можно поместить в один кластер. Данный метод делят на подтипы soft, medium и hard, которые не сильно отличаются между собой.</p>
<p>Для подготовки семантического ядра чаще всего применяют специальные программы, самая известная из которых это <strong>Key Collector</strong>. Но даже без Key Collector или аналогов можно создать семантическое ядро, достаточно редактора таблиц вроде <strong>Google Sheets, Microsoft Excel</strong> или <strong>LibreOffice Calc</strong>.</p>
  </BaseLayout>