---
import BaseLayout from "../../../layouts/BaseLayout.astro";
---

<BaseLayout title="Индексация">
  <h1>Индексация</h1>
<p>Страницы сайта не попадают в выдачу поисковых систем сами по себе. У каждой поисковой системы есть поисковые роботы, они же поисковые боты, они же краулеры. Это программы, которые "гуляют" по сети и собирают информацию о сайтах в базу данных. </p>
<p>Обычно, вместо термина "база данных" используют слово "<strong>индекс</strong>". Если поисковый робот посетил страницы сайта и счёл их достаточно качественными, то они попадают в индекс поисковой системы. Таким образом, проиндексированные страницы могут отображаться в поисковой выдаче.</p>
<p>Поисковые системы могут индексировать не только web-страницы, но и файлы разных форматов. Ознакомиться с полным списком форматов можно по ссылкам ниже:<br><a href="https://yandex.ru/support/webmaster/ru/robot-workings/documents-specific-indexing" title="">Яндекс</a><br><a href="https://developers.google.com/search/docs/crawling-indexing/indexable-file-types?hl=ru" title="">Google</a></p>
<p>Не все страницы или файлы предназначены для пользователей. Технические разделы или страницы с непубличным контентом необходимо закрывать от индексации.</p>
<h2>Настройка индексации</h2>
<p>Для управления индексацией существует много инструментов:</p>
<ul>
<li><a href="e/seo/vnutrennyaya-optimizaciya/karta-sayta/" title="Карта сайта">карта сайта</a>;</li>
<li><a href="https://bzmnn.site/seo/vnutrennyaya-optimizaciya/robots-txt/" title="Файл robots.txt">файл robots.txt</a>;</li>
<li>мета-тег robots;</li>
<li>заголовок X-Robots-Tag;</li>
<li>Google Indexing API;</li>
<li>заголовок Last Modified;</li>
<li>протокол IndexNow:</li>
<li>протокол HTTP/2.</li>
</ul>
<p>Только первые два инструмента считаются обязательными для использования, но комплексное применение их всех даст больше шансов на корректную индексацию страниц. Однако, важно следить за тем, что бы эти методы не конфликтовали друг с другом и не вызывали противоречий.</p>
<h3>Карта сайта</h3>
<p>Это файл, содержащий список страниц сайта, которые должны быть в индексе поисковых систем. Имеет название <a href="/seo/vnutrennyaya-optimizaciya/karta-sayta/" title="Карта сайта">sitemap.xml</a> и обычно находится в корневой папке сайта.</p>
<h3>Запреты и разрешения индексации</h3>
<p>Для настройки индексации страниц поисковыми системами чаще всего используют файл <code><a href="/seo/vnutrennyaya-optimizaciya/robots-txt/" title="Файл robots.txt">robots.txt</a></code>. Но важно понимать: директивы в данном файле воспринимаются поисковиками как рекомендации. Т.е. поисковые роботы могут просканировать страницу, не смотря на запрет её индексации в robots.txt. </p>
<p>Для полного запрета индексации страниц существуют другие способы, например <a href="/seo/vnutrennyaya-optimizaciya/meta-tegi/" title="Мета-теги">мета-тег</a> <strong>robots</strong>, размещающийся в коде страницы. Так, строка кода&nbsp;<code>&lt;meta name="robots" content="noindex, nofollow"&gt;</code>&nbsp;запрещает индексацию и переход по ссылкам.<br>Ещё один способ запрета индексации, это HTTP-заголовки. Например,&nbsp;<code>X-Robots-Tag: noindex</code>&nbsp;выполняет ту же функцию, что и мета-тег&nbsp;<code>noindex</code>.</p>
<h3>Google Indexing API</h3>
<p>Это инструмент, который позволяет веб-сайтам напрямую уведомлять Google об изменениях на страницах, таких как добавление, обновление или удаление контента. Это помогает Google быстрее сканировать и индексировать эти страницы, что может улучшить индексация сайта.<br>Подробнее можно прочитать в <a href="https://developers.google.com/search/apis/indexing-api/v3/using-api?hl=ru" title="">справке</a>.</p>
<h3>Заголовки Last Modified</h3>
<p>Это заголовки ответа, которые указывают на время последнего изменения запрашиваемого ресурса (например, веб-страницы) по мнению сервера. Они используются для того, чтобы клиент поисковый робот мог заранее определить, нужно ли загружать обновленную версию ресурса или можно использовать кэшированную (старую) версию. Подробнее <a href="https://developer.mozilla.org/ru/docs/Web/HTTP/Reference/Headers/Last-Modified">тут</a>.</p>
<h3>Протокол IndexNow</h3>
<p>Это протокол, принцип работы которого схож с Google Indexing API и Last Modified. Проще говоря он позволяет автоматически сообщать поисковым системам об изменениях на сайте. Используется только Яндексом. Подробнее <a href="https://yandex.ru/support/webmaster/ru/indexing-options/index-now.html?ref=vgtimes.ru&amp;ysclid=mcdksf8csr530624545">тут</a>.</p>
<h3>Протокол HTTP/2</h3>
<p>У протокола передачи гипертекста (<a href="https://ru.wikipedia.org/wiki/HTTP" title="">HTTP</a>) существует три версии. Первая версия уже устарела и сильно проигрывает в скорости работы второй, а вторая, соответственно проигрывает третьей. Но если третью версию разработали относительно недавно и она не широко распространена, то <a href="https://ru.wikipedia.org/wiki/HTTP/2" title="">HTTP/2</a> существует с 2015 года  и его использование можно считать обязательным. Вторую версию протокола поддерживает и Яндекс и Google.  </p>
<p>Все эти методы можно использовать комплексно, вместе со стандартным применением <code><a href="/seo/vnutrennyaya-optimizaciya/robots-txt/" title="Файл robots.txt">robots.txt</a></code>, но важно следить за тем, что бы эти методы не конфликтовали друг с другом и не вызывали противоречий.</p>
<p>Перед проверкой индексации необходимо узнать какие страницы запрещены к индексации.<br>Если таковые имеются и индексируются, то существуют способы убрать их из индекса, через <a href="https://webmaster.yandex.ru/">Яндекс Вебмастер</a> и <a href="https://search.google.com/search-console">Google Search Console</a>.</p>
<h2>Проверка индексации</h2>
<p>Цель проверки индексации — убедиться, что важные страницы сайта индексируются поисковыми системами, а все прочие не попадают в индекс.</p>
<p>Оценив структуру сайта при помощи парсинга и карты сайта, поняв какие страницы запрещены к индексации, можно наконец приступать к самой проверке индексации. Для этого существует множество платных онлайн-сервисов и программ, позволяющих проводить массовые проверки, но можно проверить индексацию вручную, через сервисы <a href="https://yandex.ru/support/webmasterj/">Яндекс Вебмастер</a> и <a href="https://support.google.com/webmasters/?hl=ru#topic=9128571">Google Search Console</a>, или при помощи поисковых операторов site и url.</p>
<p>Если какие-то из качественных страниц сайта не индексируются, необходимо подробно проверить их на наличие проблем и разработать план постраничной оптимизации.<br>Подробнее об индексации можно прочитать в справке:<br><a href="https://support.google.com/programmable-search/answer/4513925?hl=ru">Google</a><br><a href="https://yandex.ru/adv/edu/materials/indeksaciya-sajta">Яндекс</a></p>
<p>Важные страницы, отсутствующие в индексе можно принудительно отправить на индексацию, через <a href="https://webmaster.yandex.ru/">Яндекс Вебмастер</a> и <a href="https://search.google.com/search-console">Google Search Console</a>.</p>
</BaseLayout>