---
import BaseLayout from "../../../layouts/BaseLayout.astro";
---

<BaseLayout title="Микроразметка">
  <h1>Микроразметка</h1>
<p>Разметка структурированных данных или микроразметка  — это способ добавления в код веб-страницы дополнительной информации, которая помогает поисковым системам и другим сервисам лучше понимать содержание страницы. Она использует специальные теги и атрибуты, невидимые для обычных пользователей, но понятные поисковым роботам, чтобы более точно индексировать и представлять контент в результатах поиска. Проверить наличие и корректность микроразметки можно через сервисы:<br><a href="https://developers.google.com/search/docs/appearance/structured-data?hl=ru">Google</a><br><a href="https://webmaster.yandex.ru/tools/microtest/">Яндекс</a></p>
<p>У Google есть специальный <a href="https://www.google.com/webmasters/markup-helper/" title="">инструмент настройки микроразметки</a>.</p>
<p>Подробнее о микроразметке можно прочесть в справке:<br><a href="https://developers.google.com/search/docs/appearance/structured-data/intro-structured-data?hl=ru">Google</a><br><a href="https://yandex.ru/support/webmaster/ru/schema-org/what-is-schema-org.html">Яндекс</a></p>
</BaseLayout>