---
import BaseLayout from "../../../layouts/BaseLayout.astro";
---

<BaseLayout title="Скорость загрузки страниц">
  <h1>Скорость загрузки страниц</h1>
<p>Поисковые системы крайне плохо ранжируют сайты с медленной загрузкой страниц. Сайт может медленно загружаться из-за JS скриптов, "тяжёлых" изображений и плохой оптимизации кода.<br>Для анализа скорости загрузки чаще всего используют сервис <a href="https://pagespeed.web.dev/">Google PageSpeed Insights</a></p>
<p>Для ускорения работы сайта можно применять современные технологии:</p>
<ul>
<li>Использование протокола <a href="https://ru.wikipedia.org/wiki/HTTP/2">http2</a></li>
<li>Использование изображений формата <a href="https://ru.wikipedia.org/wiki/WebP">WebP</a></li>
<li>Использование <a href="https://ru.wikipedia.org/wiki/Content_delivery_network" title="Content delivery network">CDN</a></li>
<li>Использование архивирования <a href="https://habr.com/ru/articles/221849/">gzip</a></li>
</ul>
<p>Подробнее об оптимизации скорости загрузки можно почитать в справке:<br><a href="https://yandex.ru/support/webmaster/ru/yandex-indexing/page-speed" title="">Яндекс</a><br><a href="https://support.google.com/webmasters/answer/9205520?hl=ru" title="">Google</a></p>
</BaseLayout>