---
import BaseLayout from "../../../layouts/BaseLayout.astro";
---

<BaseLayout 
title="Структура сайта"
description="Оптимизация структуры страниц сайта для поисковых систем"
>
  <h1>Структура сайта</h1>
<p>Если на проекте нет документации о структуре страниц сайта (или вы делаете анализ сайта конкурента), то самым простым способом узнать структуру сайта — парсинг. Это автоматический процесс, который экономит время, тогда как ручная проверка структуры крайне трудозатратна. При проверке структуры парсят внутренние ссылки и <a href="/seo/vnutrennyaya-optimizaciya/kody-otveta/" title="Коды ответа">коды ответов</a> этих адресов.</p>
<p>Дополнительным инструментом для анализа структуры может быть файл <a href="/seo/vnutrennyaya-optimizaciya/karta-sayta/" title="Карта сайта">sitemap.xml</a> являющийся картой сайта.</p>
<p>В результате парсинга сайта специалист получает список адресов, которые можно структурировать и отрисовать структуру в виде схемы. <a href="https://www.screamingfrog.co.uk/seo-spider/" target="_blank" rel="nofollow">Screaming Frog SEO Spider</a> имеет встроенные инструменты для построения графов.</p>
<img src="/Directory-Tree-Graph.png" alt="Структура сайта в виде графа"/>
<p>При помощи визуализации структуры можно легко найти проблемы: дублирование или каннибализацию страниц.</p>
<p><strong>Каннибализация страниц</strong> — это ситуация, когда несколько страниц одного сайта оптимизированы под одни и те же ключевые слова, что приводит к их конкуренции между собой в поисковой выдаче.</p>
<p>Выявив такие страницы в структуре, необходимо определить наиболее качественные из них, остальные удалить и настроить с них <a href="/seo/vnutrennyaya-optimizaciya/kody-otveta/" title="Коды ответа">перенаправления</a> на оставшиеся качественные. Если же, по какой либо причине, удалить дубликаты невозможно, стоит прибегнуть к использованию указания <a href="https://support.google.com/webmasters/answer/10347851?hl=ru" target="_blank" rel="nofollow">канонических адресов</a> страниц. Это полезный инструмент даже если на вашем сайте нет дубликатов. Указывать канонические адреса полезно в любом случае. Сделать это можно через код, используя элемент <code>link</code> с атрибутом <code>rel="canonical"</code>. Подробнее в справке <a href="https://developers.google.com/search/docs/crawling-indexing/consolidate-duplicate-urls?hl=ru" target="_blank" rel="nofollow">Google</a>.</p>
<p>Структура подразумевает вложенность страниц: есть главная, у неё есть дочерние разделы, а в дочерних разделах есть их собственные дочерние страницы и т.д. Старайтесь создавать логичные иерархии и избегать излишней вложенности. </p>
<p>Подробнее о нём можно почитать в справке:
    <br>
    <a href="https://developers.google.com/search/docs/crawling-indexing/canonicalization?hl=ru" target="_blank" rel="nofollow">Google</a><br><a href="https://webmaster.yandex.ru/blog/10371" target="_blank" rel="nofollow">Яндекс</a></p>
<h2>Правильные адреса страниц</h2>
<p>Поисковые системы негативно относятся к сложным и длинным URL адресам. Хороший URL должен быть описательным, т.е. информативным и легко читаемым для человека. Излишне длинные и неинформативные адреса страниц нужно приводить к "человекопонятной" форме (<a href="https://ru.wikipedia.org/wiki/%D0%A7%D0%B5%D0%BB%D0%BE%D0%B2%D0%B5%D0%BA%D0%BE%D0%BF%D0%BE%D0%BD%D1%8F%D1%82%D0%BD%D1%8B%D0%B9_URL" target="_blank" rel="nofollow">ЧПУ</a>).</p>
<p>Подробнее о ЧПУ можно прочесть в справке <a href="https://developers.google.com/search/docs/crawling-indexing/url-structure?hl=ru" target="_blank" rel="nofollow">Google</a>.</p>
<h2>Нормализация URL-адресов</h2>
<p>Нормализация это процедура приведения всех адресов сайта к единообразию. Не стоит путать с канонизацией, хотя <a href="https://developers.google.com/search/docs/crawling-indexing/canonicalization?hl=ru" target="_blank" rel="nofollow">Google утверждает</a> что нормализация это и есть процесс выбора канонических адресов. На деле, указание канонических адресов это часть комплекса работ по нормализации. </p>
<h3>Главное зеркало</h3>
<p>Под термином "главное зеркало" (иногда называют "хост") подразумевают правильное написание домена, поскольку любой домен существует минимум по двум адресам: с www и без. Перефикс "www" в доменных адресах это атавизм, который всё ещё используется многими сайтами. Но с технической точки зрения, "www" является поддоменом главного домена. Т.е. URL-адреса www.site.ru и site.ru это фактически два разных сайта, хотя контент на таких страницах, как правило, идентичен. </p>
<p>Кроме вариантов с перефиксом и без него, необходимо помнить о <a href="/seo/vnutrennyaya-optimizaciya/protokoly-bezopasnosti/" title="Протоколы безопасности">протоколах передачи данных</a>. Если сайт использует SSL сертификат, значит необходимо использовать адреса с протоколом HTTPS, в противном случае — стандартный HTTP. </p>
<p>Если на этапе регистрации доменного имени и настройки работы сервера не было выбрано главное зеркало, то необходимо как можно быстрее настроить соответствующие перенаправления. После их настройки поисковые системы должны "склеить" не корректные адреса с главным зеркалом.</p>
<p>Подробнее о главных зеркалах можно почитать в <a href="https://webmaster.yandex.ru/blog/zerkala-sayta-chto-eto-i-pochemu-vladeltsu-sayta-vazhno-o-nikh-znat" target="_blank" rel="nofollow">блоге Яндекс'а</a>.</p>
<h2>Перенаправления</h2>
<p>Помимо главной страницы, необходимо провести настройку перенаправлений: </p>
<ul>
<li>общие (для всех адресов);</li>
<li>постраничные (для конкретных страниц).</li>
</ul>
<p>Если в процессе реструктуризации URL адреса страниц приводились к ЧПУ форме или просто менялись, то необходимо постранично настроить на перенаправления со старых адресов на новые. </p>
<p>Общие перенаправления настраиваются для всех страниц сайта и нужны они для обработки переходов на страницы с ошибками в адресе. Чаще всего используется:</p>
<ul>
<li>конвертация из верхнего в нижний регистр;</li>
<li>удаление или добавление последнего <a href="https://ru.wikipedia.org/wiki/%D0%9A%D0%BE%D1%81%D0%B0%D1%8F_%D1%87%D0%B5%D1%80%D1%82%D0%B0" target="_blank" rel="nofollow">слэш'а</a>;</li>
<li>удаление дублированных слэш'ей;</li>
<li>удаление index.php и index.html.</li>
<p> Подробнее о нормализации и перенаправлениях можно прочесть <a href="https://ru.wikipedia.org/wiki/%D0%9D%D0%BE%D1%80%D0%BC%D0%B0%D0%BB%D0%B8%D0%B7%D0%B0%D1%86%D0%B8%D1%8F_URL" target="_blank" rel="nofollow">на Википедии</a>.</p>
</BaseLayout>