---
import BaseLayout from "../../../layouts/BaseLayout.astro";
---

<BaseLayout 
title="Технический аудит сайтов в SEO"
description="Создание технического аудита для оценки качества оптимизации сайта"
>
  <h1>Технический аудит</h1>
<p>Перед началом аудита необходимо получить доступ к основным системам аналитики:</p>
<ul>
<li><a href="https://yandex.ru/support/metrica/ru/" target="_blank" rel="nofollow">Яндекс Метрика</a>;</li>
<li><a href="https://yandex.ru/support/webmasterj/" target="_blank" rel="nofollow">Яндекс Вебмастер</a>;</li>
<li><a href="https://support.google.com/analytics?sjid=2237495945228671029-EU#topic=14090456" target="_blank" rel="nofollow">Google Analytics</a>;</li>
<li><a href="https://support.google.com/webmasters/?hl=ru#topic=9128571" target="_blank" rel="nofollow">Google Search Console</a>;</li>
<li>сервис проверки позиций.</li>
<p>Если какой-то из сервисов не используется, необходимо их подключить и настроить. Последний пункт не обязателен, поскольку позиции можно анализировать и без отдельного сервиса.<br>Сервисы Вебмастер и Search Console позволяют оперативно находить проблемы сайта, о которых сложно узнать иным образом.</p>
<h2>Парсинг сайта</h2>
<p>Основным инструментом для технического аудита является парсинг. Это автоматизированный сбор и структурирование информации о сайте:</p>
<ul>
<li>внутренние ссылки;</li>
<li>внешние ссылки;</li>
<li><a href="/seo/vnutrennyaya-optimizaciya/meta-tegi/" title="Мета-теги">мета-теги</a> страниц;</li>
<li>заголовки страниц;</li>
<li><a href="/seo/vnutrennyaya-optimizaciya/kody-otveta/" title="Коды ответа">коды ответа</a>.</li>
</ul>
<p>Парсить можно как имеющийся набор адресов, так и сайты целиком. Во втором случае парсер ходит по ссылкам на страницах, как это делал бы человек. Аналогичную работу выполняют и роботы поисковых систем, но это процесс называют краулингом. <strong>Краулинг (англ. crawling)</strong> — процедура обнаружения, сбора информации о новых или прошедших обновление страницах, с целью последующей загрузки в <a href="/seo/vnutrennyaya-optimizaciya/indeksaciya/" title="Индексация">индекс поисковой системы</a>.</p>
<p>Существует множество программ и сервисов, позволяющих парсить информацию с сайтов, но SEO специалисты чаще всего используют <a href="https://www.screamingfrog.co.uk/seo-spider/" target="_blank" rel="nofollow">Screaming Frog SEO Spider</a> или применяют самописные парсеры.</p>
</BaseLayout>