---
import BaseLayout from "../../../layouts/BaseLayout.astro";
---

<BaseLayout title="Удобство интерфейса">
  <h1>Удобство интерфейса</h1>
<p>Сайт необходимо проверить на <strong>удобство использования</strong> с точки зрения рядового посетителя: понятность интерфейсов, "читабельность" текстов и лёгкость навигации. Даже <a href="/seo/vnutrennyaya-optimizaciya/skorost-zagruzki-stranic/" title="Скорость загрузки страниц">скорость загрузки страниц</a> является важным фактором удобства. </p>
<p>Анализ usability редко выполняется самим SEO-специалистом, обычно для этой проверки привлекают UX/UI-дизайнеров. </p>
<p>Подробнее об удобстве использования сайтов можно прочесть в справке <a href="https://developers.google.com/search/docs/appearance/page-experience?hl=ru" target="_blank" rel="nofollow">Google</a> и <a href="https://practicum.yandex.ru/blog/chto-takoe-usability-sayta/"  target="_blank" rel="nofollow">в блоге Яндекс'а</a>.</p>
<h2>Кроссплатформенность</h2>
<p>Данный термин из области разработки программного обеспечения, где он означает способность продукта корректно работать на разных системах. </p>
<p>В контексте поисковой оптимизации по этим термином чаще понимают адаптированность страниц сайта для мобильных устройств: смартфонов и планшетов, разрешения экранов которых отличаются от типичных экранов ПК. </p>
<p>В современном мире большая часть интернет-трафика приходится на смартфоны, в связи с чем поисковые системы давно отдают предпочтение сайтам оптимизированным для их маленьких экранов. Google уже давно агитирует создавать "mobile-frendly" сайты, и даже разработал алгоритм "<a href="https://developers.google.com/search/blog/2016/11/mobile-first-indexing?hl=ru" target="_blank" rel="nofollow">mobile first</a>", отдающий приоритет в ранжировании сайтам,  оптимизированным для смартфонов. </p>
<p>Поскольку разрешения экранов ПК и смартфонов сильно отличаются, то фактически разработчикам приходится создавать две версии сайта. Как правило, сначала рисуют макеты страниц для ПК, а после их адаптируют под смартфоны. Это создаёт дополнительные трудности, т.к. некоторые интерфейсы легко реализуемы на ПК, но их крайне трудно перенести на маленький экран без ущерба удобству пользователя. </p>
<p>Подробнее о кроссплатформенности в SEO можно прочитать в справке:<br><a href="https://yandex.ru/support/webmaster/ru/recommendations/mobile-site" target="_blank" rel="nofollow">Яндекс </a><br><a href="https://developers.google.com/search/docs/crawling-indexing/mobile/mobile-sites-mobile-first-indexing?hl=ru" target="_blank" rel="nofollow">Google</a>.</p>
</BaseLayout>