---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Главная">
  <h1>База знаний по SEO</h1>
  <p>Это база знаний по SEO, которая поможет вам изучить основы оптимизации сайтов для поисковых систем.</p>
<p>Информация для неё собиралась из официальной документации Google и Яндекс.</p>

</BaseLayout>