---
import BaseLayout from "../../../layouts/BaseLayout.astro";
---

<BaseLayout title="Ссылочный профиль">
  <h1>Ссылочный профиль</h1>
<p>Авторитетность сайта можно оценивать по множеству показателей. Фактически, каждый сервис оценки имеет свою собственную метрику качества сайта. Чаще всего такие метрики рассчитываются из количества входящих и исходящих ссылок и качества ссылающихся сайтов.</p>
<h2>Яндекс ИКС</h2>
<p>У Яндекса есть своя метрика ИКС (индекс качества сайта), которая заменила предыдущую метрику ТИЦ (тематический индекс цитирования). При расчете индекса качества учитываются размер аудитории сайта, степень удовлетворенности пользователей, уровень доверия к сайту со стороны пользователей и Яндекса, а также другие критерии. Для расчета используются данные сервисов Яндекса. Подробнее в <a href="https://yandex.ru/support/webmaster/ru/site-quality-index" target="_blank" rel="nofollow">справке</a></p>
<h2>Google PageRank</h2>
<p>У Google был свой параметр оценки качества — PageRank, но с 2016 года скрыла его и утверждает, что больше не использует. Почитать подробнее на <a href="https://ru.wikipedia.org/wiki/PageRank" target="_blank" rel="nofollow">Вики</a></p>
<h2>Ahrefs DR</h2>
<p>Один из наиболее важных сервисов, анализирующих ссылки, — это Ahrefs. Этот инструмент обладает самым полным и актуальным ссылочным индексом, который регулярно обновляется. Основной метрикой, используемой в Ahrefs, является Domain Rating (DR). Именно его чаще всего используют для оценки ссылочного профиля сайта. <a href="https://ahrefs.com/seo/glossary/domain-rating" target="_blank" rel="nofollow">Справка Ahrefs</a></p>
<h2>Majestic Citation Flow и Trust Flow</h2>
<p>Ещё один сервис, схожий с Ahrefs это Majestic, и он использует два ключевых показателя: Citation Flow, который отражает количество ссылок на сайт, и Trust Flow, который оценивает авторитетность ссылающихся сайтов.</p>
<h2>Semrush Page Score</h2>
<p>Аналог Ahrefs и Majestic — Semrush, предоставляет свой показатель, Page Score, который учитывает различные факторы, включая ссылочный профиль, для оценки авторитетности страницы.</p>
<h2>SimilarWeb DigitalRank</h2>
<p>Последний по списку, но не по значимости: сервис SimilarWeb использует собственный показатель DigitalRank, чтобы оценить авторитетность сайта, анализируя его трафик и вовлеченность пользователей.</p>
</BaseLayout>