---
import BaseLayout from "../../../layouts/BaseLayout.astro";

const title = "SERM — управление репутацией в интернете";
const description = "Методы управления репутацией в поисковых системах: работы с отзывами и критикой";
const pageHeading = "Управление репутацией в интернете";

const breadcrumbs = [
  { href: "/", label: "Главная" },
  { href: "/seo/", label: "Основы SEO" },
  { href: "/seo/vneshnyaya-optimizaciya/", label: "Внешняя оптимизация" },
  { label: pageHeading },
];
---

<BaseLayout 
  title={title}
  description={description}
  pageHeading={pageHeading}
  breadcrumbs={breadcrumbs}
>
<p>Говоря об управлении репутацией в поисковых системах используют аббревиатуру SERM (Search Engine Reputation Management). Под этим термином подразумевают комплекс мероприятий, направленных на улучшение видимости положительных отзывов и нейтрализацию негативной информации о компании или бренде в результатах поиска. </p>
<p>Большинство компании пользуются специальными сервисами или услугам специалистов по размещению положительных отзывов за вознаграждение, что не поощряется поисковыми системами, но даёт результат. </p>
<p>Помимо публикации "заказных" позитивных отзывов необходимо работать и с негативными отзывами от клиентов. Важно убедиться в том, что негативные комментарии оставляют реальные клиенты, а не конкуренты. В первом случае необходимо подключать специалистов по контролю качества и передавать информацию им. Во втором случае можно отправлять в ПС жалобы на информацию не соответствующую действительности. В Google такая функция есть в "My Busines", у Яндекса есть аналогичный сервис "Яндекс Бизнес".</p>
<p>Подробнее о SERM можно прочитать в справке:<br><a href="https://yandex.ru/support/webmaster/ru/service/reviews" target="_blank" rel="nofollow">Яндекс</a><br><a href="https://support.google.com/business/answer/3474050?hl=ru" target="_blank" rel="nofollow">Google</a></p>
</BaseLayout>